@font-face {
  font-family: proxima nova;
  src: url(/fonts/Proxima\ Nova\ Font.otf);
  font-family: brandon grotesque;
  src: url(/fonts/brandon-grotesque-black-58a8a3e824392.otf);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-bottom-style: solid;
  border-color: rgba(38, 31, 34, 0.0666666667);
  height: 72px;
  font-family: proxima nova;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
}
.header a {
  color: #261F22;
  text-decoration: none;
}
.header .header_left {
  grid-column: 1/5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .header_left .header_item_left a {
  transition: 0.3s;
}
.header .header_left .header_item_left a:hover {
  color: #FE572E;
}
.header .header_left .left_item-1 {
  margin-left: 64px;
}
.header .header_left .left_item-2 {
  margin-left: 64px;
}
.header .header_left .left_item-3 {
  margin-left: 64px;
}
.header .header_mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column: 7/11;
}
.header .header_mid .mid_item-1 {
  margin-left: 64px;
}
.header .header_mid .mid_item-1 a {
  color: #FC3A78;
}
.header .header_mid .mid_item-2 {
  margin-left: 64px;
}
.header .header_right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 11/-1;
}
.header .header_right .right_item-1 .twitter_logo {
  transition: 0.3s;
}
.header .header_right .right_item-1 .twitter_logo:hover {
  fill: #00ACEE;
}
.header .header_right .right_item-2 .github_logo:hover {
  fill: #3e3b3b;
}
.header .header_right .right_item-3 .facebook_logo {
  transition: 0.3s;
}
.header .header_right .right_item-3 .facebook_logo:hover {
  fill: #3B5998;
}
.header .header_right img {
  height: 22px;
  width: 22px;
}
.header .header_right .border_left {
  border-left-style: solid;
  border-color: rgba(38, 31, 34, 0.231372549);
  height: 22px;
}

button {
  background-color: transparent;
  border: none;
}

.hero {
  margin-top: 137px;
}
.hero .hero_intro {
  font-family: brandon grotesque;
  font-size: 40px;
  text-align: center;
  background: -webkit-linear-gradient(#FE572E, #FC3A79);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero .hero_description {
  font-family: brandon grotesque;
  font-size: 78px;
  font-weight: bold;
  text-align: center;
}
.hero .hero_main_description {
  font-family: proxima nova;
  text-align: center;
  font-size: 16px;
  margin-top: 22px;
}
.hero .hero_work {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.hero .hero_work .content_work {
  margin-left: 10px;
  background-image: linear-gradient(to right, #FE572E, #FC3A79);
  height: 54px;
  width: 200px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: proxima nova;
  font-weight: bold;
  color: white;
}
.hero .hero_work .content_work img {
  margin-left: 10px;
  height: 22px;
}

.client_list {
  height: 200px;
  background-color: rgba(38, 31, 34, 0.0549019608);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.client_list .client_list_description {
  font-family: proxima nova;
  font-size: 12px;
  padding-bottom: 10px;
  color: rgba(38, 31, 34, 0.6862745098);
}
.client_list .client_list_logo {
  width: 450px;
  margin-top: 22px;
  display: flex;
  justify-content: space-evenly;
}
.client_list .client_list_logo img {
  height: 48px;
}

.my_work {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.my_work .my_work_heading {
  font-family: brandon grotesque;
  font-weight: bold;
  font-size: 45px;
}
.my_work .my_work_description {
  color: rgba(38, 31, 34, 0.6862745098);
  margin-top: 30px;
  font-family: proxima nova;
  font-weight: lighter;
  text-align: center;
  line-height: 1.6;
}

.work-1 {
  height: 650px;
  background-color: #7F63F4;
  display: flex;
  justify-content: center;
}
.work-1 .work-1_element {
  height: 650px;
  width: 85%;
  top: 200px;
  background-color: rgba(38, 31, 34, 0.6862745098);
  margin-top: 100px;
}

.work-2 {
  margin-top: 200px;
  height: 450px;
  background-color: #43CB83;
}

.footer {
  height: 80px;
  border-top-style: solid;
  border-color: rgba(38, 31, 34, 0.231372549);
  border-width: 2px;
}/*# sourceMappingURL=index.css.map */