$colors: (
    primary-color: #FC3A78,
    secondary-color: #FE572E,
    tertiary-color: #261F22,
    tertiary-color_1: #261f223b,
    tertiary-color_2: #261f220e,
    tertiary-color_3: #261f22af,
    work-1: #7F63F4,
    work-2:#43CB83,

);



$fonts:(
    heading-font: brandon grotesque,
    small-text: proxima nova,
);


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom-style: solid;
    border-color: #261f2211;
    height: 72px;
    font-family: map-get($fonts , small-text );
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    


    a{
        color: map-get($colors , tertiary-color );
        text-decoration: none;
    }
    
    .header_left{
        
        grid-column: 1/5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .left_item-1{
            
            margin-left: 64px;
            
        }

       .left_item-2{
            margin-left: 64px;
       }

       .left_item-3{
            margin-left: 64px;
       }
        
    }

    .header_mid{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-column: 7/11;

        .mid_item-1{
            margin-left: 64px;
            
            a{
                color: map-get($colors, primary-color );
            }
        }

        .mid_item-2{
            margin-left: 64px;
        }

    }
    
    .header_right{
        
        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        grid-column: 11/-1;

        img{
            height: 22px;
            width: 22px;
        }

        .border_left{
            border-left-style: solid;
            border-color: map-get($colors, tertiary-color_1 );
            height: 22px;
            
        }


        
       
    }
}

.hero{
    margin-top: 172px;
    
    
    

    .hero_intro{
        font-family: map-get($fonts , heading-font );
        font-size: 40px;
        text-align: center;
        background: -webkit-linear-gradient(#FE572E, #FC3A79);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero_description{
        font-family: map-get($fonts , heading-font );
        font-size: 78px;
        font-weight: bold;
        text-align: center;
    }

    .hero_main_description{
        font-family: map-get($fonts , small-text );
        text-align: center;
        font-size: 16px;
        margin-top: 22px;
    }
   .hero_work{
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 200px;
    .content_work{
        margin-left:10px ;
        background-image: linear-gradient(to right , #FE572E,  #FC3A79);
        height: 54px;
        width: 200px;
        border-radius: 50px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: map-get($fonts , small-text );
        font-weight: bold;
        color: white;
        img{
            margin-left:10px ;
            height: 22px;
          

        }
        
    }
    }
}


.client_list{
    height: 200px;
    background-color: map-get($colors , tertiary-color_2 );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .client_list_description{
        font-family: map-get($fonts , small-text );
        font-size: 12px;
        padding-bottom: 10px;
        color: map-get($colors , tertiary-color_3 );
    }


    .client_list_logo{
        width: 450px;
        margin-top: 22px;
        display: flex;
        justify-content: space-evenly;
        
        img{
            height: 48px;
        }
    }
}


.my_work{
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px ;
    
    .my_work_heading{
        font-family: map-get($fonts , heading-font );
        font-weight: bold;
        font-size: 45px;
    }
    .my_work_description{
        color: map-get($colors , tertiary-color_3 );
        margin-top: 30px;
        font-family: map-get($fonts , small-text );
        font-weight: lighter;
        text-align: center;
        line-height: 1.6;
    }
}


.work-1{
    height: 650px;
    background-color:map-get($colors , work-1 );
    display: flex;
    justify-content: center;


    .work-1_element{
        
        height: 650px;
        width: 85%;
        top: 200px;
        background-color: map-get($colors, tertiary-color_3 );
        margin-top: 100px;
    }
}


.work-2{
    margin-top: 200px;
    height: 450px;
    background-color: map-get($colors , work-2);

}

.footer{
    height: 80px;
    border-top-style: solid;
    border-color: map-get($colors , tertiary-color_1 );
    border-width: 2px;
}
